<div>
    <img src=<%= user.Photo %> alt= '<%= user.Name %>' class="img-fluid rounded mx-auto d-block"/>
</div>
<div>
    <h2><%= user.Name %></h2>
    <p>Number of posts: <%= user.PostCounter %></p>
</div>